{
  "name": "{{#npmName}}{{{npmName}}}{{/npmName}}{{^npmName}}typescript-fetch-api{{/npmName}}",
  "version": "{{#npmVersion}}{{{npmVersion}}}{{/npmVersion}}{{^npmVersion}}0.0.0{{/npmVersion}}",
  "license": "Unlicense",
  "main": "./dist/api.js",
  "browser": "./dist/api.js",
  "typings": "./dist/api.d.ts",
  "dependencies": {
    "aurelia-fetch-client": "npm:aurelia-fetch-client@^1.1.2",
    "url": "npm:url@^0.11.0"
  },
  "scripts" : {
    "prepublish" : "typings install && tsc",
    "test": "tslint api.ts"
  },
  "devDependencies": {
    "tslint": "^3.15.1",
    "typescript": "^1.8.10",
    "typings": "^1.0.4"
  }
}
